:root {
  --primary-color: #0664a8;
  --grey-color: #dddddd;
  --light-background-color: #f0f0f0;
  --lighter-background-color: #f8f8f8;
  --light-text-color: #f0f9ff;
  --dark-text-color: #1e2022;
  --border-radius: 14px;
  --smaller-border-radius: 8px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  color: var(--dark-text-color) !important;
  background-color: var(--lighter-background-color) !important;
}

button,
[type='button'],
[type='submit'] {
  margin: 0;
  background: var(--primary-color);
  color: var(--light-text-color) !important;
  transition: filter 0.3s ease;
}

button:hover,
[type='button']:hover,
[type='submit']:hover {
  background: var(--primary-color);
  color: var(--light-text-color) !important;
  filter: brightness(90%);
}

s {
  font-size: inherit;
}

p,
s,
small,
h1,
h2,
h3,
h4,
h5,
h6,
form,
label,
input,
span {
  margin: 0;
}

.container {
  display: flex;
  padding: 0;
}

.search-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-basis: 60%;
  background-color: var(--light-background-color);
  padding: 16px;
}

@media (max-width: 750px) {
  body {
    height: unset;
    overflow: unset;
  }

  .container {
    margin: 0;
    flex-direction: column;
  }
}
